<button type="button" class="btn btn-primary">Pending</button><br>

<small class="text-muted">Your Connection request has been send, but it is in pending state. You will connected once<span class="fw-bold"><%= connector.first_name%></span> will accept the connection request.</small><br>